
.head{
    background-color: aliceblue;
    height: auto;
    width: 100%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

.logo{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-image: url(../Estilos/Nutrir.jpeg);
    background-size: contain;
    padding: 1em;
    float: left;
    margin: 10px;
}
.caja1{
    background-color: ivory;
    border: 1px solid black;
    padding: 1em;
    width: 250px;
    text-align: center;
}
.caja{
    display: flex;
    justify-content: space-around;
    height: 50px;
}
main{
    display: flex;
}
.p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.dia{
    font-weight: bold;
    font-size: 120%;
    color: blueviolet;
}
.formulario{
    font-style: italic;
    font-size: 100%;
    color: blueviolet;
    border: dotted;
}
.contacto{
    border-style: dotted;
}

.foot{
    background-color: antiquewhite;
    height: auto;
    width: 100%;
}

